<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--檔案上傳位址-->
    <add key="FilePath" value="D:\SystemFile\Temp\" />
    <!--檔案HTTP位址-->
    <add key="FileUrl" value="http://192.168.50.92/SystemFile/Temp/" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" maxRequestLength="307200" />
    <webServices>
      <protocols>
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="35651584" ></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>